.task {

    width: 100%;
    height: 4.5rem;

    display: flex;
    flex-direction: row;
    align-items: flex-start;

    padding: 1rem;

    margin-bottom: 0.75rem;

    background: var(--gray-500);
    border: 0.0625rem solid var(--gray-400);
    border-radius: 0.5rem;



}

.task input {   
    width: 1.125rem;
    height: 1.125rem;   
}
.task p {

    width: 100%;
    height: 4.5rem;

    padding-left: 1rem;
    padding-right: 4rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 140%;

    color: var(--gray-100);
}

.task button {
    background: transparent;
    border: 0;
    color: var(--gray-300);

    cursor: pointer;

}

.task button:hover {
    color: var(--red);
}