:root {

    --gray-100: #F2F2F2;
    --gray-300: #808080;
    --gray-400: #333333;
    --gray-600: #1A1A1A;
    --gray-500: #262626;
    --gray-700: #0D0D0D;

    --purple-100: #8284FA;

    --blue-100: #4EA8DE;

    --blueDark-400: #2179ac;
    --blueDark-500: #1E6F9F;

    --red: #E25858;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--gray-600);
}